* {
    font-family: Helvetica;
}

h1 {
    background-image: url(../Images/pattern.webp);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
 
h3 {
    font-weight: bold;
 }

h2.brushes {
    background-color: mediumspringgreen;
}

h2.frames {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}

.special {
    font-weight: bold;
    color: blue;
}
