* {
    font-family: Helvetica;
}

h1 {
    background-image: url(../Images/pattern.webp);
    font-size: 100px;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: white;
}

h2.brushes {
    background-color: mediumspringgreen;
}

h2.frames {
    background-color: lightcoral;
}

h2.paint {
    background-color: skyblue;
}

.special {
    color: blue;
}

h1, h2, .special {
    font-weight: bold;
}
